<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto">
    <title>Articles-page</title>
</head>
<body>
    <div class="main-container">
        <div>
            <div class="text">
            <h1>Empower Yourself</h1>
            <p>By learning new coures from worlds leading experts</p>
          </div>
    <div class="child-container">
        <div class="sections" id="section-1" (click)="navigateToSection('technology')">
            <img src="https://assets.ccbp.in/frontend/static-website/articles-technology-icon-img.png">
            <h1>Technology</h1>
        </div>
        <div class="sections" id="section-2" (click)="navigateToSection('science')">
            <img src="https://assets.ccbp.in/frontend/static-website/articles-science-icon-img.png">
            <h1>Science</h1>
        </div>
        </div>
        <div class="child-container">
        <div class="sections" id="section-3" (click)="navigateToSection('healthcare')">
            <img src="https://assets.ccbp.in/frontend/static-website/articles-healthcare-icon-img.png">
            <h1>Health Care</h1>
        </div>
        <div class="sections" id="section-4" (click)="navigateToSection('business')">
            <img src="https://assets.ccbp.in/frontend/static-website/articles-business-icon-img.png">
            <h1>Business</h1>
        </div>
    </div>
    </div>
    </div>

    
</body>
</html>

